/* Ensure OpenSeadragon viewer is visible and fills the screen */
#openseadragon1 {
	position: relative;
	z-index: 1;
	width: 100vw;
	height: 100vh;
}
* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: black;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

div {
	width: 100vw;
	height: 100vh;
}
